<a href="https://colab.research.google.com/github/AlejandroGutie/Entrega_Prueba_2/blob/main/Prueba_2_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Prueba #2
En la siguiente pureba se evalua de manera EXCLUSIVA lo que se solicita, cualquier otra respuesta adicional a ella será valorada, más no evaluada. Entregue la prueba en un repositorio de github antes de el domingo 13 de agosto a las 23:59:59.

RAFAEL REYES VELASQUEZ \
HUBERTH HINCAPIE \
YEISSON ALEJANDRO GUTIERREZ CANO

## **Ejercicio 1** (40%)

Construya un DataFrame a partir del siguiente diccionario

`exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'], 'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 12, 8, 19], 'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1], 'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}`

con las siguientes etiquetas para los índices

`labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']`

1. Seleccione solo las columnas *name* y *score*.
  
2. Filtre las filas donde el número de intentos (attemps) sea mayor que 2.

3. Filtre las filas donde el *score* se encuentre entre 15 y 20 (incluidos)

4. Cambie el *score* en la fila 'd' a 11.5

5. Agregue una nueva fila con etiqueta 'k' al dataframe con un valor que usted desee para cada columna

6. Borre la fila 'k' y entregue nuevamente el DataFrame original.

7. Ordene el DataFrame por nombre en orden ascendente.

8. Reemplace los valores de la columna *qualify* que contiene los valores *yes* y *no* por los valores booleanos True y False respectivamente.

In [215]:
#Importando las librerias
import numpy as np
import pandas as pd

In [216]:
#Se crea el DataFrame con los datos para el desarrollo de la prueba

#Se crea la serie para el indice
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#Se crea el DataFrame
df = pd.DataFrame ({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
                    'score': [12.5, 9, 16.5, 10, 9, 20, 14.5, 12, 8, 19],
                    'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
                    'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']},
                    index = labels)#En este punto se asigna el indice

#Se muestra el DataFrame
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   10.0         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura   12.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [217]:
#Ejercicio 1, Punto 1
#Se seleccionan solo las columnas name y score con iloc

df.iloc[ : , 0 : 2 ]

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James   10.0
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura   12.0
i      Kevin    8.0
j      Jonas   19.0

In [218]:
#Ejercicio 1, Punto 2
#Se filtran las filas donde el número de intentos (attemps) sea mayor que 2

df.loc[df['attempts'] > 2]

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James   10.0         3      no
f  Michael   20.0         3     yes

In [219]:
#Ejercicio 1, Punto 3
#Se filtran las filas donde el score se encuentre entre 15 y 20 (incluidos)

df.loc[(df['score'] >= 15) & (df['score'] <= 20)]

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [220]:
#Ejercicio 1, Punto 4
#Se cambie el score en la fila 'd' a 11.5

df.loc['d' , 'score'] = 11.5
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura   12.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [221]:
#Ejercicio 1, Punto 5
#Se agrega una nueva fila con etiqueta 'k' al dataframe con valores deseados para cada columna

df = df.append(pd.Series({'name' : 'Valentina',
                          'score' : 10,
                          'attempts' : 1,
                          'qualify' : 'yes'},
                        name = 'k'))

#Se muestra el DataFrame
df

<ipython-input-221-5ae8bbfb811a>:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(pd.Series({'name' : 'Valentina',

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura   12.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k  Valentina   10.0         1     yes

In [222]:
#Ejercicio 1, Punto 6
#Se borra la fila 'k' y se entrega nuevamente el DataFrame original

df = df.drop('k')

#Se muestra el DataFrame original
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura   12.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [223]:
#Ejercicio 1, Punto 6
#Se ordena el DataFrame por nombre en orden ascendente por defecto

df = df.sort_values('name')

#Se muestra el DataFrame ordenado
df

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
e      Emily    9.0         2      no
d      James   11.5         3      no
j      Jonas   19.0         1     yes
c  Katherine   16.5         2     yes
i      Kevin    8.0         2      no
h      Laura   12.0         1      no
g    Matthew   14.5         1     yes
f    Michael   20.0         3     yes

In [224]:
#Ejercicio 1, Punto 7
#Se reemplazan los valores de la columna qualify que contiene los valores yes y no por los valores booleanos True y False respectivamente

df['qualify'] = df['qualify'].map({'yes' : True, 'no' : False})

#Se muestra el DataFrame actualizado
df

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
e      Emily    9.0         2    False
d      James   11.5         3    False
j      Jonas   19.0         1     True
c  Katherine   16.5         2     True
i      Kevin    8.0         2    False
h      Laura   12.0         1    False
g    Matthew   14.5         1     True
f    Michael   20.0         3     True

## **Ejercicio 2** (30%)

Importe el dataset `athletes` del repositorio del curso y realice las siguientes tareas:

1. Importarlo como nombre athletes
2. Filtre el dataframe tal que solo se quede con los atletas que hayan ganado al menos una medalla.
3. Calcule la masa muscular por fila con una función como

$$I_{m.m.} = \frac{Weight}{Height^2}$$

4. Agrupe los datos por calculando la media por deporte para cada una del resto de características. ¿Cuál es el deporte en el que los jugadores tienen mayor peso promedio?

5. ¿Cuál es el pais con más participación femenina?

In [228]:
#Ejercicio 2, Punto 1
#Se importan los datos con nombre athletes desde el repositorio del curso
athletes = pd.read_csv("https://raw.githubusercontent.com/tomasate/Datos_Clases/main/Datos_1/athletes.csv")

#Se muestran los datos
athletes

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
11533,265605954,Zurian Hechavarria,CUB,female,8/10/95,1.64,58.0,athletics,0,0,0
11534,214461847,Zuzana Hejnova,CZE,female,12/19/86,1.73,63.0,athletics,0,0,0
11535,88361042,di Xiao,CHN,male,5/14/91,1.85,100.0,wrestling,0,0,0
11536,900065925,le Quoc Toan Tran,VIE,male,4/5/89,1.60,56.0,weightlifting,0,0,0
11537,711404576,le Roux Hamman,RSA,male,1/6/92,1.85,70.0,athletics,0,0,0

In [229]:
#Ejercicio 2, Punto 2
#Se filtra el dataframe tal que solo queda con los atletas que hayan ganado al menos una medalla

athletes_ganadores = athletes.loc[(athletes['gold'] > 0) | (athletes['silver'] > 0) | (athletes['bronze'] > 0)]

#Se muestra el dataframe filtrado con los atletas que ganaron al menos una medalla
athletes_ganadores

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1
6,266237702,Aaron Russell,USA,male,6/4/93,2.05,98.0,volleyball,0,0,1
14,162792594,Abbey Weitzeil,USA,female,12/3/96,1.78,68.0,aquatics,1,1,0
48,962468808,Abdoulrazak Issoufou Alfaga,NIG,male,12/26/94,2.07,98.0,taekwondo,0,1,0
55,969824503,Abdullah Alrashidi,IOA,male,8/21/63,1.83,84.0,shooting,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
11487,334126873,Zhiyong Shi,CHN,male,10/10/93,1.68,69.0,weightlifting,1,0,0
11491,105609876,Zi He,CHN,female,12/10/90,1.60,52.0,aquatics,0,1,0
11503,593183472,Zivko Gocic,SRB,male,8/22/82,1.93,93.0,aquatics,1,0,0
11509,836633838,Zoe Lee,GBR,female,12/15/85,1.76,70.0,rowing,0,1,0
11511,343671816,Zoe de Toledo,GBR,female,7/17/87,1.72,58.0,rowing,0,1,0

In [230]:
#Ejercicio 2, Punto 3
#Se calcula la masa muscular por fila con una función

#Se crea la nueva variable para la masa muscular mm
def calcular_Imm(athletes):
  """
  Esta función recibe como parámetro el dataframe para la lectura de los datos,
  retorna el índice de masa corporal a partir de su cálculo con la altura y el peso de cada atleta
  """
  #Aplicación de la fórmula para el cálculo del índice de masa corporal
  return (athletes['weight'] / (athletes['height']**2))

#Se llama la función y se aplica a nuestro DataFrame
athletes['Imm'] = athletes.apply(calcular_Imm, axis=1)

#Se muestra el dataframe con la nueva columna Imm
athletes

,id,name,nationality,sex,dob,height,weight,sport,gold,silver,bronze,Imm
0,736041664,A Jesus Garcia,ESP,male,10/17/69,1.72,64.0,athletics,0,0,0,21.633315
1,532037425,A Lam Shin,KOR,female,9/23/86,1.68,56.0,fencing,0,0,0,19.841270
2,435962603,Aaron Brown,CAN,male,5/27/92,1.98,79.0,athletics,0,0,1,20.151005
3,521041435,Aaron Cook,MDA,male,1/2/91,1.83,80.0,taekwondo,0,0,0,23.888441
4,33922579,Aaron Gate,NZL,male,11/26/90,1.81,71.0,cycling,0,0,0,21.672110
...,...,...,...,...,...,...,...,...,...,...,...,...
11533,265605954,Zurian Hechavarria,CUB,female,8/10/95,1.64,58.0,athletics,0,0,0,21.564545
11534,214461847,Zuzana Hejnova,CZE,female,12/19/86,1.73,63.0,athletics,0,0,0,21.049818
11535,88361042,di Xiao,CHN,male,5/14/91,1.85,100.0,wrestling,0,0,0,29.218408
11536,900065925,le Quoc Toan Tran,VIE,male,4/5/89,1.60,56.0,weightlifting,0,0,0,21.875000
11537,711404576,le Roux Hamman,RSA,male,1/6/92,1.85,70.0,athletics,0,0,0,20.452885

In [232]:
#Ejercicio 2, Punto 4
#Se agrupan los datos por calculando la media por deporte para cada una del resto de características

#Se calcula la media
athletes_media = athletes.groupby('sport').mean()

#Se muestra el DataFrame con la media del resto de las caracteristicas
athletes_media

#¿Cuál es el deporte en el que los jugadores tienen mayor peso promedio?
#En el siguiente cuadro de código

<ipython-input-232-36b8597f3dda>:5: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  athletes_media = athletes.groupby('sport').mean()

,id,height,weight,gold,silver,bronze,Imm
sport,,,,,,,
aquatics,4.997725e+08,1.788338,72.301644,0.083045,0.077509,0.073356,22.390026
archery,5.047630e+08,1.735952,72.190476,0.062500,0.062500,0.062500,23.806722
athletics,5.016411e+08,1.751922,67.717727,0.027931,0.027084,0.026238,21.805406
badminton,4.901661e+08,1.745529,68.774390,0.046512,0.046512,0.046512,22.459332
basketball,5.036080e+08,1.918715,87.750000,0.083333,0.083333,0.083333,23.587790
boxing,4.731657e+08,1.747745,NaN,0.045455,0.045455,0.090909,NaN
canoe,5.019726e+08,1.781006,77.015291,0.081571,0.081571,0.084592,24.152080
cycling,4.978055e+08,1.746667,67.820717,0.051429,0.053333,0.055238,22.129736
equestrian,4.618328e+08,1.748704,67.493023,0.067568,0.067568,0.067568,21.984795
fencing,5.527768e+08,1.772449,70.661224,0.085366,0.089431,0.089431,22.366810
football,5.064191e+08,1.745341,68.433962,0.058920,0.058920,0.058920,22.357239
golf,4.741152e+08,1.743761,71.443478,0.016667,0.016667,0.016667,23.333664
gymnastics,5.121383e+08,1.637840,54.278997,0.092593,0.092593,0.092593,20.174045
handball,4.957886e+08,1.837080,83.710602,0.079890,0.082645,0.079890,24.501271
hockey,5.178987e+08,1.733981,68.900463,0.078704,0.074074,0.076389,22.773987
judo,4.903510e+08,1.735366,76.876316,0.035714,0.035714,0.071429,25.178452
modern pentathlon,4.242136e+08,1.762361,65.958333,0.027778,0.027778,0.027778,21.120357
rowing,5.095929e+08,1.849477,79.938318,0.087751,0.087751,0.087751,23.190600
rugby sevens,5.228671e+08,1.755623,78.723906,0.083333,0.080000,0.083333,25.346171
sailing,5.085194e+08,1.761478,71.169355,0.039474,0.039474,0.039474,22.829941
shooting,4.877244e+08,1.728668,73.905263,0.038462,0.038462,0.038462,24.560009
table tennis,5.024409e+08,1.721845,65.177515,0.046512,0.046512,0.046512,21.822135
taekwondo,5.245064e+08,1.797480,68.088000,0.062500,0.062500,0.125000,20.911875
tennis,4.971817e+08,1.802251,73.162304,0.040816,0.040816,0.040816,22.420589
triathlon,4.347202e+08,1.732110,60.633028,0.018182,0.018182,0.018182,20.121698
volleyball,4.844270e+08,1.896527,80.102094,0.072917,0.070312,0.072917,22.161799
weightlifting,5.004174e+08,1.666628,79.980620,0.058140,0.058140,0.058140,28.155352
wrestling,4.937765e+08,1.723000,77.742120,0.050992,0.050992,0.101983,25.788894

In [233]:
#¿Cuál es el deporte en el que los jugadores tienen mayor peso promedio?
#Se identifica el deporte en el que los jugadores tienen mayor peso promedio
deporte_mayor_peso_promedio = athletes_media['weight'].idxmax()

#Se muestra el deporte en el que los jugadores tienen mayor peso promedio
print(f"El deporte con mayor peso promedio es: {deporte_mayor_peso_promedio}, con un promedio de: {athletes_media['weight'].max()}")

El deporte con mayor peso promedio es: basketball, con un promedio de: 87.75

In [234]:
#Ejercicio 2, Punto 5
#¿Cuál es el pais con más participación femenina?

#Se hace el conteo para el sexo femenino por pais
conteo_paises_mujeres = athletes.loc[(athletes['sex'] == 'female')].groupby('nationality').sex.count()

#se identifica el pais con mayor participación femenina
pais_con_mas_mujeres = conteo_paises_mujeres.idxmax()

#Se muestra el pais en el que hay mayor participación fememina
print(f"El país con mayor participación femenina es: {pais_con_mas_mujeres}, con un total de {conteo_paises_mujeres.max()} mujeres")

El país con mayor participación femenina es: USA, con un total de 303 mujeres

## **Ejercicio 3 (30%)**

Importe el dataset de nba del repositorio de clase y responda (hint: Elimine las instancias con registros faltantes):

1. Cuáles son los equipos que pagan los salarios más altos (presente el resultado como un dataFrame con el nombre del equipo y la cantidad de dinero de la nómina)
2. Separe la variable *Age* en tres grupos y cree una nueva columna llamada *Age-Group* con esta información. Muestre un gráfico de barras con el número de jugadores por grupo de edad diferenciando en esta (mediante un código de color) la posición.
3. Construya una tabla dinámica que muestre el salario promedio de los jugadores por equipo y posición para para los cinco equipos que pagan mejores salarios.

In [235]:
#Ejercicio 3
#Se importan los datos nba desde el repositorio del curso
nba = pd.read_csv("https://raw.githubusercontent.com/tomasate/Datos_Clases/main/Datos_1/nba.csv")

#Se eliminan las instancias con registros faltantes
nba = nba.dropna()

#Se muestran los datos
nba

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...,...
449,449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [236]:
#Ejercicio 3, Punto 1
#Cuáles son los equipos que pagan los salarios más altos (presente el resultado como un dataFrame con el nombre del equipo y la cantidad de dinero de la nómina)

#Se agrupan y se suman los datos de salarios por equipos, y se ordenan de mayor a menor
equipos_salarios_altos = nba.groupby('Team').Salary.sum().sort_values(ascending = False)

#Se asignan los datos al DatFrame
equipos_nomina = pd.DataFrame({'Equipo' : equipos_salarios_altos.index,
                               'Nomina' : equipos_salarios_altos.values})

#Se muestra el nuevo DataFrame con los nombres de los equipos y la cantidad de dinero de la nómina
equipos_nomina

                    Equipo      Nomina
0     Los Angeles Clippers  93906914.0
1    Oklahoma City Thunder  81515298.0
2    Golden State Warriors  80535517.0
3      Cleveland Cavaliers  74068189.0
4            Chicago Bulls  73265800.0
5     New Orleans Pelicans  68200408.0
6          Detroit Pistons  67168263.0
7          Milwaukee Bucks  66794557.0
8               Miami Heat  65838121.0
9         Sacramento Kings  62786874.0
10       San Antonio Spurs  59491233.0
11         New York Knicks  57977202.0
12         Toronto Raptors  57377129.0
13        Dallas Mavericks  57140305.0
14       Memphis Grizzlies  56862880.0
15           Atlanta Hawks  56383300.0
16               Utah Jazz  52256491.0
17      Washington Wizards  52111245.0
18       Charlotte Hornets  51715614.0
19         Houston Rockets  48445456.0
20  Portland Trail Blazers  48301818.0
21          Indiana Pacers  48057601.0
22           Brooklyn Nets  47503125.0
23            Phoenix Suns  44945135.0
24          Boston Celtics  41541068.0
25      Los Angeles Lakers  39245338.0
26          Denver Nuggets  38167971.0
27           Orlando Magic  37887288.0
28      Philadelphia 76ers  30992894.0
29  Minnesota Timberwolves  21310196.0

In [237]:
#Ejercicio 3, Punto 2
#Separe la variable Age en tres grupos y cree una nueva columna llamada Age-Group con esta información
#Muestre un gráfico de barras con el número de jugadores por grupo de edad diferenciando en esta (mediante un código de color) la posición

#Identificamos la edad mínima y máxima
nba.Age.min()
nba.Age.max()
#La edad mínima es 19 y la edad máxima es 40

#Se definen los grupos de edad de: (19 - 25), (26 - 32), (33 - 40) por medio de la función
def categoria(nba):
  """
  Esta función recibe como parametro el DataFrame para la lectura de los datos,
  según la edad, identifica y clasifica el grupo de edad de los deportistas.
  """
  if nba['Age'] <= 25.0:
    return '(19 - 25)'
  if nba['Age'] >= 26.0 and nba['Age'] <= 32.0:
    return '(26 - 32)'
  if nba['Age'] >= 33.0 and nba['Age'] <= 40.0:
    return '(33 - 40)'

#Se crea la nueva variable Age-Group, se usa la función para la clasificación de los grupos de edad de cada deportista
nba['Age-Group'] = nba.apply(categoria, axis = 1)

#Se muestra el DataFrame con la clasificación de los grupos de edad
nba

,Unnamed: 0,Name,Team,Number,Position,Age,Height,Weight,College,Salary,Age-Group
0,0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,(19 - 25)
1,1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,(19 - 25)
3,3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,(19 - 25)
6,6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,(19 - 25)
7,7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,(19 - 25)
...,...,...,...,...,...,...,...,...,...,...,...
449,449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,(19 - 25)
451,451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,(26 - 32)
452,452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,(19 - 25)
453,453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,(26 - 32)
456,456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,(26 - 32)

In [240]:
#Ejercicio 3, Punto 3
#Construya una tabla dinámica que muestre el salario promedio de los jugadores por equipo y posición para los cinco equipos que pagan mejores salarios

#Se identifican los índices de los primero 5 equipos que pagan mejores salarios
equipos_salarios_altos = nba.groupby('Team').Salary.sum().sort_values(ascending = False).head(5).index

#Se construye la tabla dinámica para los cinco equipos que pagan los mejores salarios,
#por equipo y posición con el salario promedio que es la función de agregación por defecto de la tabla dinámica
tabla_dinamica = pd.pivot_table(nba[nba['Team'].isin(equipos_salarios_altos)],
                                 values = 'Salary',
                                 index = 'Team',
                                 columns = 'Position')

#Se muestra la tabla dinámica
tabla_dinamica

Position,C,PF,PG,SF,SG
Team,,,,,
Chicago Bulls,1.340000e+07,3.578740e+06,1.117153e+07,1.958160e+06,5.717549e+06
Cleveland Cavaliers,7.768435e+06,1.394101e+07,6.551592e+06,9.472760e+05,3.349079e+06
Golden State Warriors,6.541249e+06,1.426087e+07,1.137079e+07,3.766367e+06,8.224138e+06
Los Angeles Clippers,1.039480e+07,6.655482e+06,1.228975e+07,3.662924e+06,4.639893e+06
Oklahoma City Thunder,6.303143e+06,2.606520e+06,9.382869e+06,8.599621e+06,3.207058e+06